.footer-section {
    background-color: #1B2433;
}

.ft-copyright {
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #cbcdd3;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .8px;
}
