.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.signup-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.signup-subtitle {
    font-size: 0.8rem;
    margin-bottom: 2rem;   
    text-align: center; 
}

.input-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;   
    text-align: left; 
}

.signup-form {
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #fff;
    padding: 2rem;
}

.signup-form input {
    padding: 0.8rem 1rem;
    margin-bottom: 2rem;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1rem;
    width: 400px;
    background-color: #f0f0f0;

}

.signup-button {
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #b7a9eb;
    color: #fff;
}

.or-divider {
    margin: 0.1rem 0;
    color: #999;
    text-align: center;
}

.social-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.google-button {
    background-color: #fff;
    color: #333;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #6e6e6e98;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.terms-and-privacy {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #999;
}
